<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:include="includes/ui_libs::payload('产品管理')"></head>
    <script type="text/javascript" src="/ui-lib/main/js/product/product_list.js"></script>
    <link href="/ui-lib/fileInput/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>

    <link href="/ui-lib/themes/explorer-fa/theme.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="/ui-lib/fileInput/js/fileinput.js" type="text/javascript"></script>
    <script src="/ui-lib/fileInput/js/locales/zh.js" type="text/javascript"></script>
    <script src="/ui-lib/themes/explorer-fa/theme.js" type="text/javascript"></script>
    <script src="/ui-lib/themes/fa/theme.js" type="text/javascript"></script>

    <body>
        <!-- 一级导航菜单 -->
        <div th:include="includes/nav_bar::payload('PRODUCT')">
        <!-- 二级导航菜单 --></div>

        <div th:include="includes/nav_bar_level2::payload('PRODUCT_MODEL','PRODUCT_INDEX')"></div>

        <main class="container">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <!-- 页面内容在此处填充 -->
                <label>产品图片</label>
                <form enctype="multipart/form-data" >
                    <div class="form-group">
                        <div class="file-loading">
                            <input id="file" name="file" type="file" class="file"  />
                        </div>
                    </div>


                </form>
                <label>产品介绍图片</label>
                <form enctype="multipart/form-data" >
                    <div class="form-group">
                        <div class="file-loading">
                            <input id="largeFile" name="file" type="file" class="file"  />
                        </div>
                    </div>


                </form>

                <form id="create-form" action="#">
                    <input type="hidden" name="productFileName"  />
                    <input type="hidden" name="filePath" />

                    <input type="hidden" name="backgroundFileName"  />
                    <input type="hidden" name="backgroundPath" />
                    <div class="modal-body">
                        <label style="color:red;">必填属性</label>
                        <div class="form-group">
                            <label>产品名称<span class="text-danger">*</span></label>
                            <textarea class="form-control" name="productName" rows="1"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>SKU<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="sku" placeholder="SKU" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>总代理价<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="generalGentPrice" placeholder="总代理价" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>代理价<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="gentPrice" placeholder="代理价" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>批发价<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="wholesalePrice" placeholder="批发价" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>零售价<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="retailPrice" placeholder="零售价" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>成本价<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="cost" placeholder="成本价" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>单位<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="unit" placeholder="单位" />
                                </div>
                            </div>
                        </div>

                        <label style="color:red;">非必填属性</label>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>酒精浓度</label>
                                    <input type="number" class="form-control" name="alcoholContent" placeholder="酒精浓度" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>规格</label>
                                    <input type="text" class="form-control" name="specification" placeholder="规格" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>级别</label>
                                    <input type="text" class="form-control" name="level" placeholder="级别" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>酿酒时间</label>
                                    <input type="text" class="form-control" name="makingTime" placeholder="酿酒时间" />
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>原产国</label>
                                    <input type="text" class="form-control" name="originCountry" placeholder="原产国" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>产区</label>
                                    <input type="text" class="form-control" name="productionArea" placeholder="产区" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>品牌</label>
                                    <input type="text" class="form-control" name="brandName" placeholder="品牌" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>树龄</label>
                                    <input type="text" class="form-control" name="treeAge" placeholder="树龄" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>葡萄酒类型</label>
                                    <input type="text" class="form-control" name="wineType" placeholder="葡萄酒类型" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>贮藏方式</label>
                                    <input type="text" class="form-control" name="storageMethod" placeholder="贮藏方式" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>葡萄酒品种</label>
                                    <input type="text" class="form-control" name="category" placeholder="葡萄酒品种" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>年份</label>
                                    <input type="text" class="form-control" name="age" placeholder="年份" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>净含量</label>
                                    <input type="text" class="form-control" name="netWeight" placeholder="净含量" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>酿造方法</label>
                                    <input type="text" class="form-control" name="incubationPeriod" placeholder="培育期" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>美食搭配</label>
                        <textarea class="form-control" name="withFood" rows="1"></textarea>
                    </div>
                    <div class="form-group">
                        <label>品鉴记录</label>
                        <textarea class="form-control" name="tastingRecords" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <label>推荐理由</label>
                        <textarea class="form-control" name="recommendedReason" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <label>品牌背景</label>
                        <textarea class="form-control" name="brandBackgroud" rows="2"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button id="create-submit-btn" type="submit" class="btn btn-primary">创建</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
    <script>



            var  mydata;
            var largeData;
            //        var filePath = "<img src='product_img/basic/${fileName}' style='width : 120px'  />".replace("${fileName}", "123");
            $("#file").fileinput({
                theme: 'fa',
                language : 'zh',
                uploadExtraData: function () {
                    return mydata
                },
                uploadUrl: '/product/upload_file',
                uploadAsync: true,
                dropZoneTitle: '拖拽文件到这里或者点击选择上传 …',
                showUpload:false, //是否显示上传按钮
                showRemove :false, //显示移除按钮
                allowedFileExtensions: ['jpg', 'gif', 'png', 'jpeg'],
            }).on("filepreajax", function(event, data){
                var sku = $("#create-form").find("input[name='sku']").val();
                mydata ={
                    sku:sku, large : false   //此时可以动态获取
                };
            }).on("fileuploaded", function(event, data, previewId, index) {
                $("#create-form").find("input[name='filePath']").val(data.response.data.path);
                $("#create-form").find("input[name='productFileName']").val(data.response.data.fileName);
            }).on("fileerror", function(){
                return "error";
            });

            $("#largeFile").fileinput({
                theme: 'fa',
                language : 'zh',
                uploadExtraData: function () {
                    return largeData
                },
                uploadUrl: '/product/upload_file',
                uploadAsync: true,
                dropZoneTitle: '拖拽文件到这里或者点击选择上传 …',
                showUpload:false, //是否显示上传按钮
                showRemove :false, //显示移除按钮
                allowedFileExtensions: ['jpg', 'gif', 'png', 'jpeg'],
            }).on("filepreajax", function(event, data){
                var sku = $("#create-form").find("input[name='sku']").val();
                largeData ={
                    sku:sku, large : true   //此时可以动态获取
                };
            }).on("fileuploaded", function(event, data, previewId, index) {
                $("#create-form").find("input[name='backgroundPath']").val(data.response.data.path);
                $("#create-form").find("input[name='backgroundFileName']").val(data.response.data.fileName);
            }).on("fileerror", function(){
                return "error";
            });


//        $("#fuploadinput").on("fileuploaded",function(event, data, previewId, index) {
//
//        })

    </script>
</html>