<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:include="/includes/ui_libs::payload('产品管理')"></head>
    <script type="text/javascript" src="/ui-lib/main/js/product/product_list.js"></script>

    <body>
        <!-- 一级导航菜单 -->
        <div th:include="/includes/nav_bar::payload('PRODUCT')">
        <!-- 二级导航菜单 --></div>


        <div th:include="/product/product_create_popup::payload('新建产品', 'create-modal')"></div>
        <main class="container">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <!-- 页面内容在此处填充 -->
                <form id="table-query-form" class="table-query-form" action="#">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text query-form-label">代理名称</div>
                                </div>
                                <input type="text" class="form-control" name="names" placeholder="代理名称" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text query-form-label">电话号码</div>
                                </div>
                                <input type="text" class="form-control" name="phones" placeholder="电话号码" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text query-form-label">代理类型</div>
                                </div>
                                <select name="type" class="custom-select">
                                    <option selected="selected" value=""></option>
                                    <option value="ADMIN">管理员</option>
                                    <option value="GENERAL_AGENT">总代理</option>
                                    <option value="AGENT">代理</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group mr-2">
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#create-modal">&nbsp;新建&nbsp;</button>
                                <button id="show-edit-btn" type="button" class="btn btn-outline-primary">&nbsp;修改&nbsp;</button>
                                <button id="show-editBalance-btn" type="button" class="btn btn-outline-primary">&nbsp;修改余额&nbsp;</button>
                                <button id="delete-btn" type="button" class="btn btn-outline-primary">&nbsp;删除&nbsp;</button>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-outline-primary">&nbsp;查&nbsp;询&nbsp;</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <table id="table"></table>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>