<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <div th:fragment="payload(title, modalId)">
        <div class="modal fade" th:id="${modalId}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="${title}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="create-form" action="#">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>产品名称<span class="text-danger">*</span></label>
                                <textarea class="form-control" name="productName" rows="1"></textarea>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                            <div class="form-group">
                                <label>SKU</label>
                                <input type="text" class="form-control" name="sku" placeholder="SKU" />
                            </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-group">
                                <label>总代理价<span class="text-danger">*</span></label>
                                <input type="number" class="form-control" name="generalGentPrice" placeholder="总代理价" />
                            </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                            <div class="form-group">
                                <label>代理价<span class="text-danger">*</span></label>
                                <input type="number" class="form-control" name="gentPrice" placeholder="代理价" />
                            </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-group">
                                <label>批发价<span class="text-danger">*</span></label>
                                <input type="number" class="form-control" name="wholesalePrice" placeholder="批发价" />
                                </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                            <div class="form-group">
                                <label>零售价<span class="text-danger">*</span></label>
                                <input type="number" class="form-control" name="retailPrice" placeholder="零售价" />
                            </div>
                                </div>
                                <div class="col-md-6">
                            <div class="form-group">
                                <label>酒精浓度</label>
                                <input type="number" class="form-control" name="alcoholContent" placeholder="零售价" />
                            </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                            <div class="form-group">
                                <label>单位<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="unit" placeholder="单位" />
                            </div>
                                </div>
                                <div class="col-md-6">
                            <div class="form-group">
                                <label>规格</label>
                                <input type="text" class="form-control" name="specification" placeholder="规格" />
                            </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                            <div class="form-group">
                                <label>级别</label>
                                <input type="text" class="form-control" name="level" placeholder="级别" />
                            </div>
                                </div>
                                <div class="col-md-6">
                            <div class="form-group">
                                <label>产区</label>
                                <input type="text" class="form-control" name="productionArea" placeholder="产区" />
                            </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                            <div class="form-group">
                                <label>品牌</label>
                                <input type="text" class="form-control" name="brandName" placeholder="品牌" />
                            </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>背景</label>
                                <textarea class="form-control" name="backRemark" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button id="create-submit-btn" type="submit" class="btn btn-primary">创建</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</html>