<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head th:include="includes/ui_libs::payload('产品管理')"></head>
    <script type="text/javascript" src="/ui-lib/main/js/product/product_list.js"></script>
    <link href="/ui-lib/fileInput/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>

    <link href="/ui-lib/themes/explorer-fa/theme.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="/ui-lib/fileInput/js/fileinput.js" type="text/javascript"></script>
    <script src="/ui-lib/fileInput/js/locales/zh.js" type="text/javascript"></script>
    <script src="/ui-lib/themes/explorer-fa/theme.js" type="text/javascript"></script>
    <script src="/ui-lib/themes/fa/theme.js" type="text/javascript"></script>

    <body>
        <!-- 一级导航菜单 -->
        <div th:include="includes/nav_bar::payload('PRODUCT')">
        <!-- 二级导航菜单 --></div>

        <div th:include="includes/nav_bar_level2::payload('PRODUCT_MODEL','PRODUCT_INDEX')"></div>

        <main class="container">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <!-- 页面内容在此处填充 -->
                <div class="form-group">
                    <label>产品图片</label>
                    <img src="" id="smFile" style="with:120px; height:120px;" />
                </div>
                <div class="form-group">
                    <label>产品介绍图片</label>
                    <img src="" id="largeFile" style="with:120px; height:120px;" />
                </div>
                <form id="show-info-form" action="#">
                    <input type="hidden" name="id"  th:value="${id}"/>
                    <div class="modal-body">
                        <label style="color:red;">必填属性</label>
                        <div class="form-group">
                            <label>产品名称<span class="text-danger">*</span></label>
                            <textarea class="form-control" name="productName" rows="1" readonly="readonly"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>SKU<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" readonly="readonly" name="sku" placeholder="SKU" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>总代理价<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="generalGentPrice" readonly="readonly" placeholder="总代理价" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>代理价<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="gentPrice" readonly="readonly" placeholder="代理价" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>批发价<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="wholesalePrice" readonly="readonly" placeholder="批发价" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>零售价<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="retailPrice" readonly="readonly" placeholder="零售价" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>成本价<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="cost" readonly="readonly" placeholder="成本价" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>单位<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="unit" readonly="readonly" placeholder="单位" />
                                </div>
                            </div>
                        </div>

                        <label style="color:red;">非必填属性</label>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>酒精浓度</label>
                                    <input type="number" class="form-control" name="alcoholContent" readonly="readonly" placeholder="零售价" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>规格</label>
                                    <input type="text" class="form-control" name="specification" readonly="readonly" placeholder="规格" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>级别</label>
                                    <input type="text" class="form-control" name="level" readonly="readonly" placeholder="级别" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>酿酒时间</label>
                                    <input type="text" class="form-control" name="makingTime" readonly="readonly" placeholder="酿酒时间" />
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>原产国</label>
                                    <input type="text" class="form-control" name="originCountry" readonly="readonly" placeholder="原产国" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>产区</label>
                                    <input type="text" class="form-control" name="productionArea" readonly="readonly" placeholder="产区" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>品牌</label>
                                    <input type="text" class="form-control" name="brandName" readonly="readonly" placeholder="品牌" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>树龄</label>
                                    <input type="text" class="form-control" name="treeAge" readonly="readonly" placeholder="树龄" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>葡萄酒类型</label>
                                    <input type="text" class="form-control" name="wineType" readonly="readonly" placeholder="葡萄酒类型" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>贮藏方式</label>
                                    <input type="text" class="form-control" name="storageMethod" readonly="readonly" placeholder="贮藏方式" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>葡萄酒品种</label>
                                    <input type="text" class="form-control" name="category" readonly="readonly" placeholder="葡萄酒品种" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>年份</label>
                                    <input type="text" class="form-control" name="age" readonly="readonly" placeholder="年份" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>净含量</label>
                                    <input type="text" class="form-control" name="netWeight" readonly="readonly" placeholder="净含量" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>美食搭配</label>
                        <textarea class="form-control" name="withFood" rows="1" readonly="readonly"></textarea>
                    </div>
                    <div class="form-group">
                        <label>品鉴记录</label>
                        <textarea class="form-control" name="tastingRecords" rows="2" readonly="readonly"></textarea>
                    </div>
                    <div class="form-group">
                        <label>推荐理由</label>
                        <textarea class="form-control" name="recommendedReason" rows="2" readonly="readonly"></textarea>
                    </div>
                    <div class="form-group">
                        <label>品牌背景</label>
                        <textarea class="form-control" name="brandBackgroud" rows="2" readonly="readonly"></textarea>
                    </div>
                </form>
            </div>
        </main>
    </body>
    <script>



        var id = $("#show-info-form").find("[name='id']").val();
        var fileName = "";
        var largeFileName = "";
        $.ajax({
            url: '/product/query_by_id',
            method: 'GET',
            async: false,
            contentType: 'application/json',
            dataType: 'json',
            data: "id=" + id,
            success: function (data) {
                fileName = data.data.productFileName;
                largeFileName = data.data.backgroundFileName;
                $("#show-info-form").bindData(data.data, ["productFileName","id","filePath","backgroundFileName","backgroundPath","productName","sku","generalGentPrice"
                ,"gentPrice","wholesalePrice","retailPrice","cost","unit","alcoholContent","specification","level","makingTime","originCountry","productionArea"
                 ,"brandName","treeAge","wineType","storageMethod","category","age","netWeight","withFood","tastingRecords","recommendedReason","brandBackgroud"
                ]);
            }
        });


        var smFilePath = "";
        var largeFilePath = "";
        if ($.trim(fileName) !=''){
            smFilePath = "/product_img/basic/" + fileName;
            $("#smFile").attr("src", smFilePath);
        }
        if ($.trim(largeFileName) !=''){
            largeFilePath = "/product_img/large/" + largeFileName;
            $("#largeFile").attr("src", largeFilePath);
        }
    </script>
</html>