<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mszhan.redwine.manage.server.dao.mszhanRedwineManage.AgentsMapper">
  <resultMap id="BaseResultMap" type="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.Agents">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="updator" jdbcType="INTEGER" property="updator" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="updator_name" jdbcType="VARCHAR" property="updatorName" />
  </resultMap>


  <select id="queryForPage" resultMap="BaseResultMap"  parameterType="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.query.AgentQuery">
    SELECT * FROM agents
    <where>
      <if test = "nameList != null and nameList.size > 0">
        and  name in
        <foreach collection="nameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "phoneList != null and phoneList.size > 0">
        and  phone in
        <foreach collection="phoneList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "type != null and type.size > 0">
        and type = #{type}
      </if>
    </where>
    ORDER BY id DESC
    <if test='offset != null and limit != null '>
      limit #{offset},#{limit}
    </if>
  </select>


  <select id="queryCount"  parameterType="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.query.AgentQuery"  resultType="Integer">
    SELECT COUNT(1) FROM agents
    <where>
      <if test = "nameList != null and nameList.size > 0">
        and  name in
        <foreach collection="nameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "phoneList != null and phoneList.size > 0">
        and  phone in
        <foreach collection="phoneList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "type != null and type.size > 0">
        and type = #{type}
      </if>
    </where>
  </select>

  <delete id="deleteById">
    delete from agents where id = #{id}
  </delete>

  <update id="updateBalance">
    update agents set balance = #{balance} where id = #{id}
  </update>

  <update id="updateAgents">
    update agents set  name = #{name}, tel = #{tel}, phone = #{phone}, update_date = #{updateDate},updator = #{updator}, address = #{address},
    type = #{type}, updator_name = #{updatorName}
    where id = #{id}
  </update>
  <select id="queryByPhone" resultMap="BaseResultMap">
    select * from agents where phone = #{phone}
  </select>
  <select id="queryByPhoneAndNotInId" resultMap="BaseResultMap">
    select * from agents where phone = #{phone} and id not in (#{id})
  </select>
  <delete id="deleteAgents">
    delete from agents where id in
    <foreach collection="list" index="index" item="item" open="("
             separator="," close=")">
      #{item}
    </foreach>
  </delete>

</mapper>