<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mszhan.redwine.manage.server.dao.mszhanRedwineManage.InboundHistoryMapper">
  <resultMap id="BaseResultMap" type="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.InboundHistory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="sku" jdbcType="VARCHAR" property="sku" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="order_item_id" jdbcType="INTEGER" property="orderItemId" />
    <result column="warehouse_id" jdbcType="INTEGER" property="warehouseId" />
  </resultMap>



  <select id="leadOutInboundDetail" resultType="java.util.HashMap" >
    select h.type, p.product_name as productName, h.sku, h.quantity, h.creator_name as createName, h.create_date as createDate, w.name as warehouseName, h.remark
    from inbound_history h
    join product p on p.sku = h.sku
    join warehouse w on w.id = h.warehouse_id
    <where>
      <if test="warehouseId != null">
        and h.warehouse_id = #{warehouseId}
      </if>
      <if test="sku != null">
        and h.sku like #{sku}
      </if>
      <if test="productName != null">
        and p.product_name like #{productName}
      </if>
      <if test="brandName != null">
        and p.brand_name like #{brandName}
      </if>
      <if test="warehouseId != null">
        and h.warehouse_id = #{warehouseId}
      </if>
      <if test="createStartDate != null">
        and h.create_date >= #{createStartDate}
      </if>
      <if test="createEndDate != null">
        <![CDATA[  and h.create_date <= #{createEndDate}]]>
      </if>
    </where>
    order by h.sku, h.create_date asc
    limit #{page}, #{limit}
  </select>
</mapper>