<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mszhan.redwine.manage.server.dao.mszhanRedwineManage.OrderItemMapper">
  <resultMap id="BaseResultMap" type="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.OrderItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="sku" jdbcType="VARCHAR" property="sku" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="shipping_fee" jdbcType="DECIMAL" property="shippingFee" />
    <result column="packaging_fee" jdbcType="DECIMAL" property="packagingFee" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="updator" jdbcType="INTEGER" property="updator" />
    <result column="agent_id" jdbcType="INTEGER" property="agentId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="warehouse_id" jdbcType="INTEGER" property="warehouseId" />
  </resultMap>
  <select id="fetchOrderItemsByOrderId"
          resultType="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.OrderItem">
    SELECT oi.sku as sku, oi.quantity as  quantity, oi.order_id as orderId, oi.unit_price as unitPrice, p.product_name as productName, p.wine_type as wineType, p.cost as cost FROM order_item oi left join product p on (oi.sku = p.sku)
    where oi.order_id in
    <foreach collection="orderIds" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
</mapper>