<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mszhan.redwine.manage.server.dao.mszhanRedwineManage.OrderHeaderMapper">
  <resultMap id="BaseResultMap" type="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.OrderHeader">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="updator" jdbcType="INTEGER" property="updator" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="client_name" jdbcType="VARCHAR" property="clientName" />
    <result column="agtent_id" jdbcType="INTEGER" property="agtentId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="postal_code" jdbcType="VARCHAR" property="postalCode" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="payment_status" jdbcType="VARCHAR" property="paymentStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <select id="queryForPage" resultMap="BaseResultMap"  parameterType="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.query.OrderQuery">
    SELECT h.* FROM order_header h
    join order_item i on i.order_id = h.order_id
    <where>
      <if test = "alcoholContent != null and alcoholContent != ''">
        and  alcohol_content = #{alcoholContent}
      </if>
      <if test = "orderIdList != null and orderIdList.size > 0">
      and  h.order_id in
      <foreach collection="orderIdList" index="index" item="item" open="("
               separator="," close=")">
        #{item}
      </foreach>
    </if>
      <if test = "clientNameList != null and clientNameList.size > 0">
        and  h.client_name in
        <foreach collection="clientNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "skuList != null and skuList.size > 0">
        and  i.sku in
        <foreach collection="skuList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "agentNameList != null and agentNameList.size > 0">
        and  h.agent_name in
        <foreach collection="agentNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "deliveryPersonNameList != null and deliveryPersonNameList.size > 0">
        and  i.delivery_person_name in
        <foreach collection="deliveryPersonNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
    group by h.order_id
    ORDER BY h.id DESC
    <if test='offset != null and limit != null '>
      limit #{offset},#{limit}
    </if>
  </select>


  <select id="queryCount"  parameterType="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.query.OrderQuery"  resultType="Integer">
    SELECT COUNT(1) FROM (
    SELECT h.id FROM order_header h
    join order_item i on i.order_id = h.order_id
    <where>
      <if test = "alcoholContent != null and alcoholContent != ''">
        and  alcohol_content = #{alcoholContent}
      </if>
      <if test = "orderIdList != null and orderIdList.size > 0">
        and  h.order_id in
        <foreach collection="orderIdList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "clientNameList != null and clientNameList.size > 0">
        and  h.client_name in
        <foreach collection="clientNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "skuList != null and skuList.size > 0">
        and  i.sku in
        <foreach collection="skuList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "agentNameList != null and agentNameList.size > 0">
        and  h.agent_name in
        <foreach collection="agentNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "deliveryPersonNameList != null and deliveryPersonNameList.size > 0">
        and  i.delivery_person_name in
        <foreach collection="deliveryPersonNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
      group by h.id

    ) g


  </select>
</mapper>