<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mszhan.redwine.manage.server.dao.mszhanRedwineManage.OrderHeaderMapper">
  <resultMap id="BaseResultMap" type="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.OrderHeader">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="updator" jdbcType="INTEGER" property="updator" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="client_name" jdbcType="VARCHAR" property="clientName" />
    <result column="agent_id" jdbcType="INTEGER" property="agentId" />
    <result column="agent_name" jdbcType="VARCHAR" property="agentName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="postal_code" jdbcType="VARCHAR" property="postalCode" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="payment_status" jdbcType="VARCHAR" property="paymentStatus" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="shipping_fee" jdbcType="DECIMAL" property="shippingFee" />
    <result column="delivery_date" jdbcType="TIMESTAMP" property="deliveryDate" />
  </resultMap>

  <select id="fetchOrders" resultMap="BaseResultMap">
    SELECT oh.* FROM order_header oh
    LEFT JOIN order_item oi ON (oh.order_id = oi.order_id)
    LEFT JOIN product p ON (oi.sku = p.sku)
    <where>
      and status not in ('REMOVED')
      <if test="agentId != null">
        AND oh.agent_id = #{agentId}
      </if>
      <if test="orderId != null and orderId !=''">
        AND oh.order_id = #{orderId}
      </if>
      <if test="orderStatus != null and orderStatus !=''">
        AND oh.status = #{orderStatus}
      </if>
      <if test="paymentStatus != null and paymentStatus !=''">
        AND oh.payment_status = #{paymentStatus}
      </if>
      <if test="sku != null and sku !=''">
        AND oi.sku = #{sku}
      </if>
      <if test="productName != null and productName !=''">
        AND p.product_name like #{productName}
      </if>
      <if test="brandName != null and brandName !=''">
        AND p.brand_name like #{brandName}
      </if>

      <if test="createStartDate != null">
        <![CDATA[
        AND oh.create_date >= #{createStartDate}
        ]]>
      </if>
      <if test="createEndDate != null">
        <![CDATA[
        AND date(oh.create_date) <= #{createEndDate}
        ]]>
      </if>
      <if test="deliveryStartDate != null">
        <![CDATA[
        AND oh.delivery_date >= #{deliveryStartDate}
        ]]>
      </if>
      <if test="deliveryEndDate != null">
        <![CDATA[
        AND date(oh.delivery_date) <= #{deliveryEndDate}
        ]]>
      </if>
    </where>
    group by oh.order_id
    order by oh.create_date desc
  </select>

  <select id="queryForPage" resultMap="BaseResultMap"  parameterType="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.query.OrderQuery">
    SELECT h.* FROM order_header h
    join order_item i on i.order_id = h.order_id
    <where>
      <if test = "alcoholContent != null and alcoholContent != ''">
        and  alcohol_content = #{alcoholContent}
      </if>
      <if test = "orderIdList != null and orderIdList.size > 0">
      and  h.order_id in
      <foreach collection="orderIdList" index="index" item="item" open="("
               separator="," close=")">
        #{item}
      </foreach>
    </if>
      <if test = "clientNameList != null and clientNameList.size > 0">
        and  h.client_name in
        <foreach collection="clientNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "skuList != null and skuList.size > 0">
        and  i.sku in
        <foreach collection="skuList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "agentNameList != null and agentNameList.size > 0">
        and  h.agent_name in
        <foreach collection="agentNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "deliveryPersonNameList != null and deliveryPersonNameList.size > 0">
        and  i.delivery_person_name in
        <foreach collection="deliveryPersonNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
    group by h.order_id
    ORDER BY h.id DESC
    <if test='offset != null and limit != null '>
      limit #{offset},#{limit}
    </if>
  </select>


  <select id="queryCount"  parameterType="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.query.OrderQuery"  resultType="Integer">
    SELECT COUNT(1) FROM (
    SELECT h.id FROM order_header h
    join order_item i on i.order_id = h.order_id
    <where>
      <if test = "alcoholContent != null and alcoholContent != ''">
        and  alcohol_content = #{alcoholContent}
      </if>
      <if test = "orderIdList != null and orderIdList.size > 0">
        and  h.order_id in
        <foreach collection="orderIdList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "clientNameList != null and clientNameList.size > 0">
        and  h.client_name in
        <foreach collection="clientNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "skuList != null and skuList.size > 0">
        and  i.sku in
        <foreach collection="skuList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "agentNameList != null and agentNameList.size > 0">
        and  h.agent_name in
        <foreach collection="agentNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "deliveryPersonNameList != null and deliveryPersonNameList.size > 0">
        and  i.delivery_person_name in
        <foreach collection="deliveryPersonNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
      group by h.id

    ) g


  </select>

  <select id="queryForOutboundExcel" resultType="java.util.HashMap" parameterType="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.query.OrderQuery">
    select DATE_FORMAT(o.delivery_date, "%Y年%m月%d") as deliveryDate, p.unit, i.unit_price unitPrice, i.quantity, i.unit_price*i.quantity as totalPrice, p.product_name as productName, p.sku, p.wine_type as wineType, o.client_name as clientName from order_item i
      join order_header o on o.order_id = i.order_id
      join product p on p.sku = i.sku
    where status = 'SHIPPED'
    <if test="agentId != null">
      AND o.agent_id = #{agentId}
    </if>
    <if test="orderId != null and orderId !=''">
      AND o.order_id = #{orderId}
    </if>
    <if test="orderStatus != null and orderStatus !=''">
      AND o.status = #{orderStatus}
    </if>
    <if test="paymentStatus != null and paymentStatus !=''">
      AND o.payment_status = #{paymentStatus}
    </if>
    <if test="sku != null and sku !=''">
      AND i.sku = #{sku}
    </if>
    <if test="productName != null and productName !=''">
      AND p.product_name like #{productName}
    </if>
    <if test="brandName != null and brandName !=''">
      AND p.brand_name like #{brandName}
    </if>
    <if test="createStartDate != null and createStartDate !=''">
      AND o.create_date >= #{createStartDate}
    </if>
    <if test="createEndDate != null and createEndDate !=''">
      <![CDATA[  AND o.create_date <= #{createEndDate}  ]]>
    </if>
    <if test="deliveryStartDate != null and deliveryStartDate !=''">
      AND o.delivery_start_date >= #{deliveryStartDate}
    </if>
    <if test="deliveryEndDate != null and deliveryEndDate !=''">
      <![CDATA[  AND o.delivery_end_date <= #{deliveryEndDate}  ]]>
    </if>
    group by CONCAT(DATE_FORMAT(o.delivery_date, "%Y年%m月%d"),'|', o.client_name, '|', i.SKU)
    order by o.delivery_date asc
  </select>
</mapper>