<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mszhan.redwine.manage.server.dao.mszhanRedwineManage.ProductMapper">
  <resultMap id="BaseResultMap" type="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.Product">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="general_gent_price" jdbcType="DECIMAL" property="generalGentPrice" />
    <result column="gent_price" jdbcType="DECIMAL" property="gentPrice" />
    <result column="wholesale_price" jdbcType="DECIMAL" property="wholesalePrice" />
    <result column="retail_price" jdbcType="DECIMAL" property="retailPrice" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="production_area" jdbcType="VARCHAR" property="productionArea" />
    <result column="product_file_name" jdbcType="VARCHAR" property="productFileName" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="sku" jdbcType="VARCHAR" property="sku" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="updator" jdbcType="INTEGER" property="updator" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="alcohol_content" jdbcType="DECIMAL" property="alcoholContent" />
    <result column="remove" jdbcType="VARCHAR" property="remove" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="updator_name" jdbcType="VARCHAR" property="updatorName" />
    <result column="origin_country" jdbcType="VARCHAR" property="originCountry" />
    <result column="tree_age" jdbcType="VARCHAR" property="treeAge" />
    <result column="wine_type" jdbcType="VARCHAR" property="wineType" />
    <result column="storage_method" jdbcType="VARCHAR" property="storageMethod" />
    <result column="with_food" jdbcType="VARCHAR" property="withFood" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="net_weight" jdbcType="VARCHAR" property="netWeight" />
    <result column="making_time" jdbcType="VARCHAR" property="makingTime" />
    <result column="tasting_records" jdbcType="VARCHAR" property="tastingRecords" />
    <result column="recommended_reason" jdbcType="VARCHAR" property="recommendedReason" />
    <result column="brand_backgroud" jdbcType="VARCHAR" property="brandBackgroud" />
    <result column="background_path" jdbcType="VARCHAR" property="backgroundPath" />
    <result column="background_file_name" jdbcType="VARCHAR" property="backgroundFileName" />
    <result column="incubation_period" jdbcType="VARCHAR" property="incubationPeriod" />
  </resultMap>

  <resultMap id="fetchProductSelectPopupDataRM" type="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.query.FetchProductSelectPopupDataRMQuery">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="sku" jdbcType="VARCHAR" property="sku" />

    <result column="general_gent_price" jdbcType="DECIMAL" property="generalGentPrice" />
    <result column="gent_price" jdbcType="DECIMAL" property="gentPrice" />
    <result column="wholesale_price" jdbcType="DECIMAL" property="wholesalePrice" />
    <result column="retail_price" jdbcType="DECIMAL" property="retailPrice" />
  </resultMap>

  <select id="queryForPage" resultMap="BaseResultMap"  parameterType="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.query.ProductQuery">
    SELECT * FROM product
    <where>
      and remove = 'N'
      <if test = "alcoholContent != null and alcoholContent != ''">
        and  alcohol_content = #{alcoholContent}
      </if>
      <if test = "skuList != null and skuList.size > 0">
        and  sku in
        <foreach collection="skuList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "productNameList != null and productNameList.size > 0">
        and  product_name in
        <foreach collection="productNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "brandNameList != null and brandNameList.size > 0">
        and  brand_name in
        <foreach collection="brandNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>

    </where>
    ORDER BY update_date DESC
    <if test='offset != null and limit != null '>
      limit #{offset},#{limit}
    </if>
  </select>

  <select id="fetchProductSelectPopupData" resultMap="fetchProductSelectPopupDataRM">
    SELECT
      id as product_id, product_name, sku, general_gent_price, gent_price,
      wholesale_price, retail_price
    FROM
    product
    <where>
      <if test="sku != null and sku !=''">
        AND sku like #{sku}
      </if>
      <if test="productName != null and productName != ''">
        AND product_name like #{productName}
      </if>
    </where>
  </select>

  <select id="queryCount"  parameterType="com.mszhan.redwine.manage.server.model.mszhanRedwineManage.query.ProductQuery"  resultType="Integer">
    SELECT COUNT(1) FROM product
    <where>
      and remove = 'N'
      <if test = "alcoholContent != null and alcoholContent != ''">
        and  alcohol_content = #{alcoholContent}
      </if>
      <if test = "skuList != null and skuList.size > 0">
        and  sku in
        <foreach collection="skuList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "productNameList != null and productNameList.size > 0">
        and  product_name in
        <foreach collection="productNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test = "brandNameList != null and brandNameList.size > 0">
        and  brand_name in
        <foreach collection="brandNameList" index="index" item="item" open="("
                 separator="," close=")">
          #{item}
        </foreach>
      </if>

    </where>
  </select>

  <select id="queryProductBySku" resultMap="BaseResultMap">
    select * from product where sku = #{sku}
    and remove = 'N'
  </select>
  <update id="updatePic" >
    update product set
    <if test="large == true">
      background_file_name = #{fileName}, background_path = #{filePath}
    </if>
    <if test="large == false">
      product_file_name = #{fileName}, file_path = #{filePath}
    </if>
    where id = #{id}
  </update>

  <update id="removeByIdList" >
    update product set remove = 'Y' where id in
    <foreach collection="list" index="index" item="item" open="("
             separator="," close=")">
      #{item}
    </foreach>
  </update>

  <select id="queryForAll" resultMap="BaseResultMap">
    select * from product
    where remove = 'N'
  </select>

</mapper>