<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<style>
    .hiddenOverFlowCoverShow:hover
    {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration:underline;
        cursor:pointer;
    }
    .hiddenOverFlowCoverShow{
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

</style>
<link href="/ui-lib/bootstrap-datetimepicker-3.0/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" />
<head th:include="includes/ui_libs::payload('订单管理')"></head>

<script type="text/javascript" src="/ui-lib/main/js/order/order_list.js"></script>
<script type="text/javascript" src="/ui-lib/main/js/order/order_create_popup.js"></script>
<script type="text/javascript" src="/ui-lib/main/js/product/select_product_popup.js"></script>
<body>
<!-- 一级导航菜单 -->
<div th:include="includes/nav_bar::payload('ORDER')"></div>
<!-- 二级导航菜单 -->
<div th:include="includes/nav_bar_level2::payload('ORDER', 'ORDER_LIST')"></div>

<div th:include="order/order_create_popup::payload('创建订单', 'order-create-popup-modal')"></div>
<div th:include="product/select_product_popup::payload('选择产品', 'select-product-popup-modal', 'createOrderSelectProductCallback')"></div>
<div th:include="order/order_payment_popup::payload('订单标帐', 'order-payment-popup-modal')"></div>

<main class="container">
    <input id="contextAgentType" type="hidden" th:value="${agentType}" />
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <!-- 页面内容在此处填充 -->
        <form id="table-query-form" class="table-query-form" action="#">
            <div class="row">
                <div class="input-group date form_date col-md-3" data-date="" data-date-format="yyyy年mm月dd" data-link-field="createStartDate" data-link-format="yyyy-mm-dd">
                    <div class="input-group-prepend">
                        <div class="input-group-text query-form-label">下单开始时间</div>
                    </div>
                    <input class="form-control" size="16" type="text" value="" readonly="readonly" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input type="hidden" id="createStartDate" name="createStartDate" value="" /><br/>
                </div>
                <div class="input-group date form_date col-md-3" data-date="" data-date-format="yyyy年mm月dd" data-link-field="createEndDate" data-link-format="yyyy-mm-dd">
                    <div class="input-group-prepend">
                        <div class="input-group-text query-form-label">下单结束时间</div>
                    </div>
                    <input class="form-control" size="16" type="text" value="" readonly="readonly" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input type="hidden" id="createEndDate" name="createEndDate" value="" /><br/>
                </div>
                <div class="input-group date form_date col-md-3" data-date="" data-date-format="yyyy年mm月dd" data-link-field="deliveryStartDate" data-link-format="yyyy-mm-dd">
                    <div class="input-group-prepend">
                        <div class="input-group-text query-form-label">发货开始时间</div>
                    </div>
                    <input class="form-control" size="16" type="text" value="" readonly="readonly" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input type="hidden" id="deliveryStartDate" name="deliveryStartDate" value="" /><br/>
                </div>
                <div class="input-group date form_date col-md-3" data-date="" data-date-format="yyyy年mm月dd" data-link-field="deliveryEndDate" data-link-format="yyyy-mm-dd">
                    <div class="input-group-prepend">
                        <div class="input-group-text query-form-label">发货结束时间</div>
                    </div>
                    <input class="form-control" size="16" type="text" value="" readonly="readonly" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input type="hidden" id="deliveryEndDate" name="deliveryEndDate" value="" /><br/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" role:secRole="ADMIN,GENERAL_AGENT">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text query-form-label">所属代理</div>
                        </div>
                        <select name="agentId" class="custom-select">
                            <option selected="selected" value="">全部</option>
                            <option th:each="agent,record:${agents}" th:value="${agent.get('id')}" th:text="${agent.get('name') + '(' + agent.get('phone') + ')'}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text query-form-label">订单状态</div>
                        </div>
                        <select name="orderStatus" class="custom-select">
                            <option selected="selected" value="">全部</option>
                            <option value="WAIT_DEAL">待处理</option>
                            <option value="SHIPPED">已发货</option>
                            <option value="REMOVED">已删除</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text query-form-label">付款状态</div>
                        </div>
                        <select name="paymentStatus" class="custom-select">
                            <option selected="selected" value="">全部</option>
                            <option value="UNPAID">未付款</option>
                            <option value="PAID">已付款</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text query-form-label">订单编号</div>
                        </div>
                        <input name="orderId" type="text" class="form-control" placeholder="订单编号" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text query-form-label">产品条码</div>
                        </div>
                        <input name="sku" type="text" class="form-control" placeholder="产品条码" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text query-form-label">产品名称</div>
                        </div>
                        <input name="productName" type="text" class="form-control" placeholder="产品名称" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text query-form-label">产品品牌</div>
                        </div>
                        <input name="brandName" type="text" class="form-control" placeholder="产品品牌" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text query-form-label">客户名称</div>
                        </div>
                        <input name="clientName" type="text" class="form-control" placeholder="客户名称" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#order-create-popup-modal">&nbsp;新建&nbsp;</button>
                        <button id="order-print-output-btn" type="button" class="btn btn-outline-primary">&nbsp;打印出库单&nbsp;</button>
                        <button role:secRole="ADMIN,GENERAL_AGENT" id="order-mark-payment-btn" type="button" class="btn btn-outline-primary">&nbsp;标账&nbsp;</button>
                        <button role:secRole="ADMIN,GENERAL_AGENT" id="order-cancel-btn" type="button" class="btn btn-outline-primary">&nbsp;消单&nbsp;</button>
                        <button role:secRole="ADMIN" id="order-leadout-outbound-excel-btn" type="button" class="btn btn-outline-primary">&nbsp;导出出库明细&nbsp;</button>
                        <button role:secRole="ADMIN" id="order-sales-excel-btn" type="button" class="btn btn-outline-primary">&nbsp;导出销售明细&nbsp;</button>
                    </div>
                    <div style="display: none">
                        <button type="button" class="btn btn-outline-primary" style="display: none">&nbsp;销单&nbsp;</button>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-outline-primary">&nbsp;<i class="fa fa-search"></i>&nbsp;查&nbsp;询&nbsp;</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <table id="table"></table>
            </div>
        </div>

        <form id="print-output-warehouse-form" target="_blank" action="/page/order/print_output" method="post">
            <input type="hidden" name="orderIds" />
        </form>
    </div>
</main>
<script type="text/javascript" src="/ui-lib/bootstrap-datetimepicker-3.0/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/ui-lib/bootstrap-datetimepicker-3.0/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">

    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        clearBtn: true
    });

</script>
</body>
</html>