<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <div th:fragment="payload(title, modalId)">
        <div class="modal fade" th:id="${modalId}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content" style="overflow-x: hidden;">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="${title}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="order-create-popup-form" action="#">
                        <div class="modal-body" style="max-height: 500px;overflow-y: scroll;overflow-x:hidden;">

                            <div class="row">
                                <div class="col-md-12 border-bottom mb-2 text-info">
                                    <h5>基本信息</h5>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>代理</label>
                                        <select class="form-control" name="agentId">
                                            <option value="">请选择所属代理</option>
                                            <option th:each="agent,record:${agents}" th:value="${agent.get('id')}" th:text="${agent.get('name') + '(' + agent.get('phone') + ')'}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>订单备注</label>
                                        <input type="text" class="form-control" name="orderRemark" placeholder="订单备注" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 border-bottom mb-2 mt-2 text-info">
                                    <h5>发货信息</h5>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>收件人</label>
                                        <input type="text" class="form-control" name="customerName" placeholder="收件人" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>联系电话</label>
                                        <input type="text" class="form-control" name="phoneNumber" placeholder="联系电话" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>邮政编码</label>
                                        <input type="text" class="form-control" name="postalCode" placeholder="邮政编码" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>详细地址</label>
                                        <input type="text" class="form-control" name="address" placeholder="详细地址" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 border-bottom mb-2 text-info">
                                    <h5>商品信息</h5>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>运费</label>
                                        <input type="text" class="form-control" name="shipAmount" placeholder="运费" />
                                    </div>
                                </div>
                                <div class="col-md-12 text-right form-group">
                                    <button id="create-order-add-sku-btn" type="button" class="btn btn-primary">添加产品</button>
                                </div>
                                <div class="col-md-12">
                                    <table id="create-order-product-table" style="table-layout: fixed;"></table>
                                </div>
                                <div class="col-md-12">
                                    <div class="alert alert-secondary text-right mt-4" role="alert">
                                        <div class="row">
                                            <div class="col-md-10">货款小计：</div>
                                            <div class="col-md-2">￥<span id="productAmountLabel">0.00</span></div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-10">包装费小计：</div>
                                            <div class="col-md-2">￥<span id="packageAmountLabel">0.00</span></div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-10">运费金额：</div>
                                            <div class="col-md-2">￥<span id="shipAmountLabel">0.00</span></div>
                                        </div>
                                        <div class="row mt-2 font-weight-bold">
                                            <div class="col-md-10">应付总额：</div>
                                            <div class="col-md-2">￥<span id="paymentTotalLabel">0.00</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 border-bottom mb-2 mt-2 text-info">
                                    <h5>支付信息</h5>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>支付方式</label>
                                        <select class="form-control" name="paymentTypeId">
                                            <option value="">选择支付方式</option>
                                            <option value="CASH_PAYMENT">现金支付</option>
                                            <option value="WECHAT_PAYMENT">微信支付</option>
                                            <option value="ALIPAY_PAYMENT">支付宝支付</option>
                                            <option value="BANK_PAYMENT">银行卡支付</option>
                                            <option value="OTHER">其他</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>支付金额</label>
                                        <input type="text" class="form-control" name="paymentAmount" placeholder="支付金额" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>支付备注</label>
                                        <input type="text" class="form-control" name="paymentRemark" placeholder="支付备注" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button id="create-order-submit-btn" type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;提交订单</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="warehouse-tmpl-box" class="d-none">
            <select class="form-control" onchange="orderItemWarehouseOnChange(this)">
                <option value="">选择仓库</option>
                <option th:each="warehouse,record:${warehouses}" th:value="${warehouse.getId()}" th:text="${warehouse.getName()}"></option>
            </select>
        </div>
    </div>


</html>