<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:fragment="payload(title, modalId)">
    <div class="modal fade" th:id="${modalId}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="${title}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="user-login-change-password-form" action="#">
                    <div class="modal-body">
                        <input name="id" type="hidden" />
                        <div class="form-group">
                            <label>人员名称</label>
                            <input type="text" class="form-control" name="personName" placeholder="人员名称" readonly="readonly" />
                        </div>
                        <div class="form-group">
                            <label>登陆账号</label>
                            <input type="text" class="form-control" name="userName" placeholder="登陆账号" readonly="readonly" />
                        </div>
                        <div class="form-group">
                            <label>新的密码</label>
                            <input type="text" class="form-control" name="password" placeholder="新的密码" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button id="user-login-change-password-submit-btn" type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>