<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <head th:include="includes/ui_libs::payload('未付款单')"></head>
    <style>
        .border-left{
            border-left: solid 1px #000!important;
        }
        .border-top{
            border-top: solid 1px #000!important;
        }
        .border{
            border: solid 1px #000!important;
        }
        * {
            font-size: 16px !important;
            font-family: SimHei !important;
            color: #000 !important;
        }
    </style>
</head>
<body>
    <div class="container border mb-5">
        <div class="text-center py-1-no">
            <div class="font-weight-bold" style="font-size: 20px !important;">深圳市汇纳酒业有限公司</div>
        </div>
        <div class="row border-top py-1-no">
            <strong><div class="col-12" th:text="${agent.name} + '未付款明细表（已发货未付款的订单）'"></div></strong>
        </div>
        <div class="row border-top">
            <div class="col-1 py-1-no text-center"><strong>序号</strong></div>
            <div class="col-1 py-1-no text-center border-left"><strong>日期</strong></div>
            <div class="col-5 py-1-no text-center border-left"><strong>品名</strong></div>
            <div class="col-2 py-1-no text-center border-left"><strong>数量</strong></div>
            <!--<div class="col-1 py-1-no text-center border-left"><strong>包装</strong></div>-->
            <div class="col-1 py-1-no text-center border-left"><strong>单价</strong></div>
            <div class="col-2 py-1-no text-center border-left"><strong>金额</strong></div>
        </div>
        <div th:each="oh,record:${orderHeaders}">
            <div class="row border-top">
                <div class="col-12 py-1-no"><strong th:text="${'订单号: ' + oh.getOrderId()}"></strong></div>
            </div>
            <div class="row border-top">
                <div class="col-1 py-1-no text-center" th:text="${record.index} + 1"></div>
                <div class="col-1 py-1-no text-center border-left" style="padding-left: 0px;padding-right: 0;" th:text="${#dates.format(oh.getCreateDate(), 'yy/MM/dd')}"></div>
                <div class="col-5 py-1-no border-left" style="padding-top: 0 !important; padding-bottom: 0 !important;">
                    <div th:each="oi,oiRecord:${oh.getOrderItems()}" th:classappend="${oiRecord.index == 0 ? '' : 'border-top'}" class="row py-1-no">
                        <div class="col-12"  th:text="${oi.getProductName()}"></div>
                    </div>
                </div>
                <div class="col-2 py-1-no border-left" style="padding-top: 0 !important; padding-bottom: 0 !important;">
                    <div th:each="oi,oiRecord:${oh.getOrderItems()}" th:classappend="${oiRecord.index == 0 ? '' : 'border-top'}" class="row py-1-no">
                        <div class="col-12 text-center"  th:text="${oi.getQuantityDescription()}"></div>
                    </div>
                </div>
                <!--<div class="col-1 py-1-no border-left" style="padding-top: 0 !important; padding-bottom: 0 !important;">
                    <div th:each="oi,oiRecord:${oh.getOrderItems()}" th:classappend="${oiRecord.index == 0 ? '' : 'border-top'}" class="row py-1-no">
                        <div class="col-12 text-center" th:text="'￥' + ${oi.getPackagingFee().setScale(2, 4)}"></div>
                    </div>
                </div>-->
                <div class="col-1 py-1-no border-left" style="padding-top: 0 !important; padding-bottom: 0 !important;">
                    <div th:each="oi,oiRecord:${oh.getOrderItems()}" th:classappend="${oiRecord.index == 0 ? '' : 'border-top'}" class="row py-1-no">
                        <div class="col-12 text-right"  th:text="'￥' + ${oi.getUnitPrice().setScale(2, 4)}"></div>
                    </div>
                </div>
                <div class="col-2 py-1-no border-left" style="padding-top: 0 !important; padding-bottom: 0 !important;">
                    <div th:each="oi,oiRecord:${oh.getOrderItems()}" th:classappend="${oiRecord.index == 0 ? '' : 'border-top'}" class="row py-1-no">
                        <div class="col-12 text-right"  th:text="'￥' + ${oi.getUnitPrice().multiply(oi.getQuantity()).add(oi.getPackagingFee()).setScale(2, 4)}"></div>
                    </div>
                </div>
            </div>
            <div class="row border-top">
                <div class="col-2 py-1-no"></div>
                <div class="col-8 py-1-no border-left text-right">订单运费</div>
                <div class="col-2 py-1-no border-left text-right" th:text="'￥' + ${oh.getShippingFee().setScale(2, 4)}"></div>
            </div>
            <div class="row border-top" style="background-color: #ddd;">
                <div class="col-2 py-1-no"></div>
                <div class="col-8 py-1-no border-left text-right"><strong>订单总计</strong></div>
                <div class="col-2 py-1-no border-left text-right"><strong th:text="'￥' + ${oh.getTotalAmount().setScale(2, 4)}"></strong></div>
            </div>
        </div>
        <div class="row py-1-no border-top">
            <div class="col-12 text-right">
                <div style="color: #333;display: none;"><span th:text="${agent.name}"></span>&nbsp;剩余余额：￥<span th:text="${agent.getBalance().setScale(2, 4)}"></span></div>
                <div class="font-weight-bold" style="font-size: 16px !important;" th:text="'总计：￥' + ${allTotal.setScale(2, 4)}"></div>
            </div>
        </div>
    </div>
</body>
</html>