<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>登陆</title>

        <link href="/ui-lib/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/ui-lib/bootstrap-table-1.12.1/bootstrap-table.min.css" rel="stylesheet" />

        <script type="text/javascript" src="/ui-lib/jquery-3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/ui-lib/popper.js-1.14.2/popper.min.js"></script>
        <script type="text/javascript" src="/ui-lib/bootstrap-4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/ui-lib/bootstrap-table-1.12.1/bootstrap-table.min.js"></script>
        <script type="text/javascript" src="/ui-lib/bootstrap-table-1.12.1/locale/bootstrap-table-zh-CN.js"></script>

        <link href="/ui-lib/main/css/login.css" rel="stylesheet" />
    </head>

    <body>
        <form class="form-signin" th:action="@{'/api/login'}" method="POST">
            <div class="card" style="padding: 25px 20px;">
                <div class="mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">用户登陆</h1>
                    <div class="alert alert-danger" role="alert" th:if="${param.error}" style="margin-bottom: 0;">
                        用户名或者密码错误.
                    </div>
                </div>

                <div class="form-label-group">
                    <input type="text" id="inputUserName" name="username" class="form-control" placeholder="账号" required="required" autofocus="autofocus" />
                    <label for="inputUserName">账号</label>
                </div>

                <div class="form-label-group">
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="密码" required="required" />
                    <label for="inputPassword">密码</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="remember-me" th:checked="checked" value="remember-me" /> 记住我
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
                <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018 红酒销售管理系统</p>
            </div>
        </form>
    </body>
</html>