<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <div th:fragment="payload(activeNav)">

        <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
            <a class="navbar-brand mr-auto mr-lg-0" th:href="@{/}">红酒销售管理系统</a>
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse">
                <ul class="navbar-nav mr-auto">
                    <!--
                    <li  th:classappend="${activeNav eq 'HOME'} ? 'active'" class="nav-item">
                        <a class="nav-link" th:href="@{/page/index}">首页</a>
                    </li>
                    -->
                    <li  th:classappend="${activeNav eq 'ORDER'} ? 'active'" class="nav-item">
                        <a class="nav-link" th:href="@{/page/order/order_list}">订单管理</a>
                    </li>
                    <li role:secRole="ADMIN,GENERAL_AGENT" th:classappend="${activeNav eq 'AGENT'} ? 'active'" class="nav-item">
                        <a class="nav-link" th:href="@{/page/agent/index}">代理管理</a>
                    </li>
                    <li role:secRole="ADMIN,GENERAL_AGENT" th:classappend="${activeNav eq 'WAREHOUSE'} ? 'active'" class="nav-item">
                        <a class="nav-link" th:href="@{/page/warehouse/index}">仓储管理</a>
                    </li>
                    <li   th:classappend="${activeNav eq 'PRODUCT'} ? 'active'" class="nav-item">
                        <a class="nav-link" th:href="@{/page/product/index}">产品管理</a>
                    </li>

                    <li role:secRole="ADMIN,GENERAL_AGENT" th:classappend="${activeNav eq 'SYS_SETTING'} ? 'active'" class="nav-item">
                        <a class="nav-link" th:href="@{/page/sys_setting/login_account_list}">系统设置</a>
                    </li>
                    <!--
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    -->
                </ul>
                <form class="form-inline my-2 my-lg-0" th:action="@{'/api/logout'}">
                    <button style="font-size: 14px;" class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fa fa-power-off"></i>&nbsp;退出</button>
                </form>
            </div>
        </nav>


    </div>

</html>