<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <!--/*-->
        参数：
            moduleCode： 用于显示那个模块的二级菜单
            activeNav： 激活哪个二级菜单
    <!--*/-->
    <div th:fragment="payload(moduleCode, activeNav)">

        <!--/*  首页模块二级导航栏  */-->
        <div th:if="${moduleCode} eq 'HOME'" class="nav-scroller bg-white box-shadow">
            <nav class="nav nav-underline container">
                <a th:classappend="${activeNav eq 'DASHBOARD'} ? 'active'" class="nav-link" href="#">Dashboard</a>
                <a th:classappend="${activeNav eq 'xxxx1'} ? 'active'" class="nav-link" href="#">
                    子功能2
                    <span class="badge badge-pill bg-light align-text-bottom">27</span>
                </a>
                <a th:classappend="${activeNav eq 'xxxx2'} ? 'active'" class="nav-link" href="#">子功能3</a>
                <a th:classappend="${activeNav eq 'xxxx3'} ? 'active'" class="nav-link" href="#">子功能4</a>
                <a th:classappend="${activeNav eq 'xxxx4'} ? 'active'" class="nav-link" href="#">子功能5</a>
                <a th:classappend="${activeNav eq 'xxxx5'} ? 'active'" class="nav-link" href="#">子功能6</a>
            </nav>
        </div>

        <!--/*  仓库模块二级导航栏  */-->
        <div th:if="${moduleCode} eq 'WAREHOUSE'" class="nav-scroller bg-white box-shadow">
            <nav class="nav nav-underline container">
                <a th:classappend="${activeNav eq 'WAREHOUSE_INDEX'} ? 'active'" class="nav-link" th:href="@{/page/warehouse/index}">库存列表</a>
                <a th:classappend="${activeNav eq 'WAREHOUSE_MANAGE'} ? 'active'" class="nav-link" th:href="@{/page/warehouse/warehouse_manage}">仓库管理</a>
                <!--<a th:classappend="${activeNav eq 'xxxx1'} ? 'active'" class="nav-link" href="#">
                    子功能2
                    <span class="badge badge-pill bg-light align-text-bottom">27</span>
                </a>-->
            </nav>
        </div>

        <!--/*  订单模块二级导航栏  */-->
        <div th:if="${moduleCode} eq 'ORDER'" class="nav-scroller bg-white box-shadow">
            <nav class="nav nav-underline container">
                <a th:classappend="${activeNav eq 'ORDER_LIST'} ? 'active'" class="nav-link" th:href="@{/page/order/order_list}">订单列表</a>
            </nav>
        </div>

        <!--/*  产品模块二级导航栏  */-->
        <div th:if="${moduleCode} eq 'PRODUCT'" class="nav-scroller bg-white box-shadow">
            <nav class="nav nav-underline container">
                <a th:classappend="${activeNav eq 'PRODUCT_LIST'} ? 'active'" class="nav-link" th:href="@{/page/product/index}">产品列表</a>
            </nav>
        </div>

        <!--/*  系统设置模块二级导航栏  */-->
        <div th:if="${moduleCode} eq 'SYS_SETTING'" class="nav-scroller bg-white box-shadow">
            <nav class="nav nav-underline container">
                <a th:classappend="${activeNav eq 'SYS_SETTING_LOGIN_ACCOUNT_LIST'} ? 'active'" class="nav-link" th:href="@{/page/sys_setting/login_account_list}">系统账号</a>
            </nav>
        </div>

        <!--/*  其他模块二级导航栏 在此处追加  */-->

    </div>

</html>