<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:fragment="payload(title)">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link href="/ui-lib/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/ui-lib/bootstrap-table-1.12.1/bootstrap-table.min.css" rel="stylesheet" />

        <script type="text/javascript" src="/ui-lib/jquery-3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/ui-lib/popper.js-1.14.2/popper.min.js"></script>
        <script type="text/javascript" src="/ui-lib/bootstrap-4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/ui-lib/bootstrap-table-1.12.1/bootstrap-table.min.js"></script>
        <script type="text/javascript" src="/ui-lib/bootstrap-table-1.12.1/locale/bootstrap-table-zh-CN.js"></script>

        <link href="/ui-lib/animate-v3.5.2/animate.css" rel="stylesheet" />

        <link href="/ui-lib/pnotify-v3.0/pnotify.custom.min.css" rel="stylesheet" />
        <script type="text/javascript" src="/ui-lib/pnotify-v3.0/pnotify.custom.min.js"></script>

        <link href="/ui-lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

        <script type="text/javascript" src="/ui-lib/main/js/main.js"></script>
        <link href="/ui-lib/main/css/main.css" rel="stylesheet" />

        <title th:text="${title}"></title>
    </head>
</html>